<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nativetest">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="MediaStore.Images.Media.INTERNAL_CONTENT_URI"/>
    <uses-permission android:name="MediaStore.Images.Media.EXTERNAL_CONTENT_URI"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- ⼩米 配置开始 < -->
<!--    <permission-->
<!--        android:name="cn.rongcloud.im.permission.MIPUSH_RECEIVE"-->
<!--        android:protectionLevel="signature" />-->
<!--    <uses-permission android:name="cn.rongcloud.im.permission.MIPUSH_RECEIVE" />-->
    <!-- ⼩米 配置结束 < -->
    <!-- GCM 配置开始 < -->
<!--    <permission-->
<!--        android:name="cn.rongcloud.im.permission.C2D_MESSAGE"-->
<!--        android:protectionLevel="signature" />-->
<!--    <uses-permission android:name="cn.rongcloud.im.permission.C2D_MESSAGE" />-->
    <!-- GCM 配置结束 < -->
    <!-- 华为 配置开始 < -->
    <!--HMS-SDK引导升级HMS功能，访问OTA服务器需要网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--HMS-SDK引导升级HMS功能，保存下载的升级包需要SD卡写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--检测网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--检测wifi状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--为了获取用户手机的IMEI，用来唯一的标识用户。-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 华为 配置结束 < -->

    <!-- MeiZu 配置开始 < -->
    <!-- 兼容 flyme5.0 以下版本，魅族内部集成 pushSDK 必填，不然无法收到 消息-->
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />
<!--    <permission-->
<!--        android:name="cn.rongcloud.im.push.permission.MESSAGE"-->
<!--        android:protectionLevel="signature" />-->
<!--    <uses-permission android:name="cn.rongcloud.im.push.permission.MESSAGE" />-->
    <!-- 兼容 flyme3.0 配置权限-->
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />
    <!-- MeiZu 配置结束 < -->

    <!-- OPPPO 权限配置-->
    <uses-permission android:name="com.coloros.mcs.permission.SEND_MCS_MESSAGE" />
    <!-- OPPO 配置结束-->

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".SealApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.SettingPersonInfoActivity" />
        <activity android:name=".ui.activity.SettingNotificationActivity" />
        <activity android:name=".ui.activity.ContactCompanyActivity" />
        <activity android:name=".ui.activity.SettingPwdActivity" />
        <activity android:name=".ui.activity.ModifyPwdActivity" />
        <activity android:name=".ui.activity.SelectCityActivity1" />
        <activity android:name=".ui.activity.SelectCityActivity2" />
        <activity android:name=".ui.activity.SelectCityActivity3" />
        <activity android:name=".TestTabActivity" />
        <activity android:name=".ui.activity.ModifyNicknameActivity" />
        <activity android:name=".ui.activity.PersonalProfileActivity" />
        <activity android:name=".VipActivity" />
        <activity android:name=".SelectNickNameColorActivity" />


        <!--会话列表-->
        <activity
            android:name=".ConversationListActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.example.nativetest"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>
    </application>

</manifest>